.container {
  margin: auto;
  max-width: 1800px;
  padding: 0 2rem;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
}

.logo {
  position: relative;
  height: 150px;
  width: 200px;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  padding: 2rem 0;
}

.banner {
  position: relative;
  width: 100%;
  height: 640px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
